/* Minha Paleta */
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #95999C;
    --azul-hover: #027368;
    --preto-cabecalho: #15191C;
    --azul-background: #038C7F;
    --azul-letra: #01403A;
}

*{
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background-color: #1D232A;
}

/* css do cabeçalho */
header {
    background-color: var(--preto-cabecalho);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    height: 150px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.cabecalho-logo {
    width: 150px;
}

nav li {
    display: inline;
    margin-left: 30px;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

nav a {
    text-transform: uppercase;
    color: var(--cinza-secundario);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 300ms all;
}

nav a:hover {
    color: var(--azul-hover);
    text-decoration: underline;
}

/* css conteúdo principal */
.principal, .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    padding: 3em 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.imagem-perfil {
    width: 350px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
    align-items: center;
}

.introducao {
    width: 800px;
    align-items: center;
}

.principal h2{
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 600;
    color: var(--branco-principal);
}

.principal h1 {
    display: inline-block;
    text-align: center;
    font-size: 4em;
    line-height: 1.5;
    font-weight: 600;
    color: var(--branco-principal);
    padding-right: 10px;
}

.principal h3 {
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    color: var(--cinza-secundario);
}

.botao {
    width: 60%;
    margin-top: 40px;
    padding: 15px 0;
    background: var(--azul-background);
    color: var(--azul-letra);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.botao:hover {
    background: var(--azul-hover);
    transform: scale(1.2);
}

/* css footer */
footer {
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: var(--preto-cabecalho);
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.16);
    padding: 0 auto;
}

.footer-logo {
    width: 100px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
}

/* css da pagina sobre */

.assunto {
    /* border: 2px dashed #027368; */
    border-radius: 10px;
    padding: 10px;
    background: #15191C;
    width: 800px;
}

.nome {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
}

.container .nome h1, .container .nome h2{
    font-size: 2em; /* 2x o tamanho base */
    margin: 0;
    font-weight: 600;
    color: #027368;
    display: inline-block;
    line-height: 1.5;
}

.sobre p{
    max-width: 800px;
    margin: 0 auto;
    font-weight: 400;
    color: var(--branco-principal);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #bac2c9;
}

.botao-sem-espaco {
    margin-top: 10px;
    padding: 10px 0;
}

/* css pagina portifólio */
.projetos-frontend, .projetos-backend {
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.projetos {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;
}

.projetos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 3px solid #15191C;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.projetos li:hover {
    border-color: #027368;
} 

.projetos li:active {
    border-color: #038C7F;
}

.projetos li:hover h2 {
    font-size: 30px;
}

.projetos h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #95999C;
}

.imagem-projetos {
    width: 200px;
    opacity: 0.8;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.imagem-projetos:hover {
    opacity: 0.3;
}

.imagem-python, .imagem-progresso {
    box-shadow: none;
}

.produto-descricao {
    font-size: 18px;
    margin-top: 10px;
    color: #95999C;
}

.codigo-projeto, .deploy-projeto {
    width: 70%;
    margin: 5px 0;
    padding: 8px 0;
    background: #038C7F;
    color: #01403A;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.deploy-projeto {
    width: 50%;
}

.codigo-projeto:hover, .deploy-projeto:hover {
    background: #027368;
    transform: scale(1.1);
}

